
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Knewave&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";

.container{
  max-width: 1400px ;
    margin: 0 auto;
    padding: 0px 15px;
}

.my-font {
  font-family: "Inter", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bg-grid {
  background-color: #0D1326; /* fon rangi */
  background-image: 
    linear-gradient(to right, rgba(255,255,255,0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 40px 40px; /* setka o‘lchami */
}

@theme{
  --color-green: #00F5A0;
}
